image_url_map_baby= {
            "Half Hand": {
                'black': '/static/dress/black ft.jpg',
                'red': '/static/dress/red ft.jpg',
                'blue': '/static/dress/blue ft.jpg',
                'milk': '/static/dress/milk ft.jpg',
                'yellow': '/static/dress/yellow ft.jpg',
                'brown': '/static/dress/brown hft.jpg',
            },
            "Full Hand": {
                'black': '/static/dress/black fft.jpg',
                'red': '/static/dress/red fft.jpg',
                'blue': '/static/dress/blue fft.jpg',
                'milk': '/static/dress/milk fft.jpg',
                'yellow': '/static/dress/yellow fft.jpg',
                'brown': '/static/dress/brown ft.jpg',
            },
            "Shorts": {
                'black': '/static/dress/black sft.jpg',
                'red': '/static/dress/red sft.jpg',
                'blue': '/static/dress/blue sft.jpg',
                'milk': '/static/dress/milk sft.jpg',
                'yellow': '/static/dress/yellow sft.jpg',
                'brown': '/static/dress/brown sft.jpg',
            },
            "Sleeveless": {
                'black': '/static/dress/black bsl.jpg',
                'red': '/static/dress/red bsl.jpg',
                'blue': '/static/dress/blue bsl.jpg',
                'milk': '/static/dress/milk bsl.jpg',
                'yellow': '/static/dress/yellow bsl.jpg',
                'brown': '/static/dress/brown bsl.jpg',
            },
            "Hooded onesie": {
                'black': '/static/dress/black bh.jpg',
                'red': '/static/dress/red bh.jpg',
                'blue': '/static/dress/blue bh.jpg',
                'milk': '/static/dress/milk bh.jpg',
                'yellow': '/static/dress/yellow bh.jpg',
                'brown': '/static/dress/brown bh.jpg',
            },
            "Baby sweat suit": {
                'black': '/static/dress/black bss.jpg',
                'red': '/static/dress/red bss.jpg',
                'blue': '/static/dress/blue bss.jpg',
                'milk': '/static/dress/milk bss.jpg',
                'yellow': '/static/dress/yellow bss.jpg',
                'brown': '/static/dress/brown bss.jpg',
            },
            "Cotton jumpsuit":{
                'black': '/static/dress/black bj.jpg',
                'red': '/static/dress/red bj.jpg',
                'blue': '/static/dress/blue bj.jpg',
                'milk': '/static/dress/milk bj.jpg',
                'yellow': '/static/dress/yellow bj.jpg',
                'brown': '/static/dress/brown bj.jpg',

            }

        }

        image_url_map_men={

                "Full Hand": {
                    'black': '/static/dress/black ffb.jpg',
                    'red': '/static/dress/red ffb.jpg',
                    'blue': '/static/dress/blue ffb.jpg',
                    'milk': '/static/dress/milk ffb.jpg',
                    'yellow': '/static/dress/yellow ffb.jpg',
                    'brown': '/static/dress/brown ffb.jpg',


            },
            "Half Hand": {
                'black': '/static/dress/black hfb.jpg',
                'red': '/static/dress/red hfb.jpg',
                'blue': '/static/dress/blue hfb.jpg',
                'milk': '/static/dress/milk hfb.jpg',
                'yellow': '/static/dress/yellow hfb.jpg',
                'brown': '/static/dress/brown hfb.jpg',

            },
            "Casual": {
                'black': '/static/dress/black cfb.jpg',
                'red': '/static/dress/red cfb.jpg',
                'blue': '/static/dress/blue cfb.jpg',
                'milk': '/static/dress/milk cfb.jpg',
                'yellow': '/static/dress/yellow cfb.jpg',
                'brown': '/static/dress/brown cfb.jpg',

            },
            "T-Shirt": {
                'black': '/static/dress/black p.jpg',
                'red': '/static/dress/red p.jpg',
                'blue': '/static/dress/blue p.jpg',
                'milk': '/static/dress/milk p.jpg',
                'yellow': '/static/dress/yellow p.jpg',
                'brown': '/static/dress/brown p.jpg',

            },
            "Long sleeve": {
                'black': '/static/dress/black jfw.jpg',
                'red': '/static/dress/red jfw.jpg',
                'blue': '/static/dress/blue jfw.jpg',
                'milk': '/static/dress/milk jfw.jpg',
                'yellow': '/static/dress/yellow jfw.jpg',
                'brown': '/static/dress/brown jfw.jpg',

            }


        }

        image_url_map_women={
            'Open Front':{
                'black': '/static/dress/black of.jpg',
                'red': '/static/dress/red of.jpg',
                'blue': '/static/dress/blue of.jpg',
                'milk': '/static/dress/milk of.jpg',
                'yellow': '/static/dress/yellow of.jpg',
                'brown': '/static/dress/brown of.jpg',

            },
            "Straight":{
                'black': '/static/dress/black wps.jpg',
                'red': '/static/dress/red ws.jpg',
                'blue': '/static/dress/blue ws.jpg',
                'milk': '/static/dress/milk ws.jpg',
                'yellow': '/static/dress/yellow ws.jpg',
                'brown': '/static/dress/brown ws.jpg',

            },
            "Skinny": {
                'black': '/static/dress/black wps.jpg',
                'red': '/static/dress/red wps.jpg',
                'blue': '/static/dress/blue wps.jpg',
                'milk': '/static/dress/milk wps.jpg',
                'yellow': '/static/dress/yellow wps.jpg',
                'brown': '/static/dress/brown wps.jpg',

            },
            "Wide Leg": {
                'black': '/static/dress/black ww.jpg',
                'red': '/static/dress/red ww.jpg',
                'blue': '/static/dress/blue ww.jpg',
                'milk': '/static/dress/milk ww.jpg',
                'yellow': '/static/dress/yellow ww.jpg',
                'brown': '/static/dress/brown ww.jpg',

            },
            "Long sleeve": {
                'black': '/static/dress/black jfw.jpg',
                'red': '/static/dress/red jfw.jpg',
                'blue': '/static/dress/blue jfw.jpg',
                'milk': '/static/dress/milk jfw.jpg',
                'yellow': '/static/dress/yellow jfw.jpg',
                'brown': '/static/dress/brown jfw.jpg',

            }
        }

        # Check conditions and assign the image URL
        if gender == 'baby' and dress_type in ('Footed romper', 'Snap-up romper'):
            color = request.form.get('color')
            image_url = image_url_map_baby.get(dress_design, {}).get(color)
        elif gender == 'baby' and dress_type == 'Hoody':
            color = request.form.get('color')
            image_url = image_url_map_baby.get(dress_design, {}).get(color)
        elif gender == 'baby' and dress_type == 'Cotton jumpsuit':
            color = request.form.get('color')
            image_url = image_url_map_baby.get(dress_design, {}).get(color)
        elif gender == 'men' and dress_type == 'Shirt':
            color = request.form.get('color')
            image_url = image_url_map_men.get(dress_design, {}).get(color)
        elif gender =='men' and dress_type == 'Jacket':
            color = request.form.get('color')
            image_url = image_url_map_men.get(dress_design, {}).get(color)
        elif gender == 'women' and dress_type == 'Jacket':
            color = request.form.get('color')
            image_url = image_url_map_women.get(dress_design, {}).get(color)
        elif gender == 'women' and dress_type == 'Pant':
            color = request.form.get('color')
            image_url = image_url_map_women.get(dress_design, {}).get(color)


        else:
            image_url = '/static/dress/red ft.jpg'  # Default for black
